body{
    background-color: #181818;
    color: white;
    font-size: 25px;
}

h1, h2, h3{
    font-size: 45px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

::selection{
    background-color: white;
    color: black;
}

.FAQ-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1000px;
}

.FAQ-question{
    border-bottom: 4px solid;
    border-color: white;
    width: 100%;
    cursor: pointer;
}

.answer{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.answer.visible {
    max-height: 1000px;
}
