body{
    margin: 0px;
    color: white;
    font-family: 'Quicksand';
}

.container{
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.show-users{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right top, black, #414141);
    width: 100%;
    height: 100vh;
}

.matched-users{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 100vh;
}

.matched-users-menu{
    background-image: linear-gradient(to right, red, orange);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    padding: 10px;
}

.users-profile{
    color: white;
    transition: color 0.5s;
}

.users-profile:hover{
    color: black;
}

.actually-matched-users{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.new-user-window{
    background-color: grey;
    width: 350px;
    height: 600px;
    border-radius: 5px;
}

.actually-matched-users-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 10%;
}

.pairs, .messages{
    margin: 20px;
    font-size: 17px;
    padding: 3px;
}

.pairs:hover, .messages:hover{
    border-color: white;
    border-bottom: 2px solid;
}

.main-match-users-menu{
    display: flex;
    flex: wrap;
    width: 100%;
    height: 90%;
}

.first-matched-user{
    background-color: grey;
    margin-left: 14px;
    margin-right: 15px;
    width: 25%;
    height: 100px;
}

.user-messages{
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 90%;
}

.message{
    background-color: grey;
    margin-bottom: 15px;
    width: 100%;
    height: 15%;
}

.main-user-settings-name{
    background-color: #202020;
    text-align: center;
    color: grey;
    width: 100%;
    height: 10%;
}

.main-user-settings{
    background-color: black;
    width: 100%;
    height: 100px;
}

.user-setting-option{
    width: 100%;
    height: 25px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: white;
    font-size: 20px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    background-color: black;
    color: white;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.user-setting-option:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.user-setting{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
    height: 100%;
}

.name-of-user:hover{
    cursor: pointer;
}

