{% extends 'main.html' %}
{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css_files/user-information-form.css')}}">
{% endblock %}
{% block center %}
<div class="container">
    <div class="grey-div">
        <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4" style="color: white;">Profile form</legend>
                    <div class="form-group">
                        {{ form.age.label(class="form-control-label") }}
                        {{ form.age(class="form-control form-control-lg register-input-class") }}
                    </div>
                    <div class="form-group">
                        {{ form.name.label(class="form-control-label") }}
                        {{ form.name(class="form-control form-control-lg register-input-class") }}
                    </div>
                    <div class="form-group">
                        {{ form.lastname.label(class="form-control-label") }}
                        {{ form.lastname(class="form-control form-control-lg register-input-class") }}
                    </div>
                    <div class="form-group">
                        {{ form.gender.label(class="form-control-label") }}
                        {{ form.gender(class="form-control form-control-lg register-input-class") }}
                    </div>
                    <div class="form-group">
                        {{ form.profile_description.label(class="form-control-label") }}
                        {{ form.profile_description(class="form-control form-control-lg register-input-class") }}
                    </div>
                    <div class="form-group">
                        {{ form.domicile.label(class="form-control-label") }}
                        {{ form.domicile(class="form-control form-control-lg register-input-class") }}
                    </div>
                    <div class="form-group">
                        {{ form.education.label(class="form-control-label") }}
                        {{ form.education(class="form-control form-control-lg register-input-class") }}
                    </div>
                    <div class="form-group">
                        {{ form.employment_status.label(class="form-control-label") }}
                        {{ form.employment_status(class="form-control form-control-lg register-input-class") }}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit_field(class="btn submit-button") }}
                </div>
                <div class="form-froup" style="color:red">
                    {{ failure_message }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}