{% extends 'errors/error_layout.html' %}
{% block content %}
    <h1>Error 404</h1>
    <p style="text-align: center;">To jest error 404 przykro mi ale nie mamy takiej podstrony lub nasze serwery są przeciążone <br>
        Poniżej znajduje się definicja i przycisk do strony głównej</p>

    <p style="text-align: center"> Error 404 - Błąd 404, zwany powszechnie „Błędem 404”, to sytuacja, 
        w której próbujemy otworzyć stronę internetową, a na ekranie pojawia się komunikat, że dana 
        strona nie została odnaleziona na serwerze. Może do tego dojść na różne sposoby. Najczęstszą 
        przyczyną jest to, że właściciel serwisu usunął lub przeniósł stronę, a adres URL nie został 
        odpowiednio zmodyfikowany. Druga opcja jest taka, że osoba przeglądając witrynę źle wpisała 
        adres URL. Rezultat jest taki sam: nie ma strony internetowej odpowiadającej wprowadzonemu adresowi URL.</p>
{% endblock %}

