body, html {
    height: 100%;
    margin: 0;
    font-family: 'Quicksand';
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #181818;  /* tło kontenera */
    animation: backgroundChange 5s infinite;
}

.centered-text {
    font-size: 35px;
    color: #fff;  /* kolor tekstu */
    text-align: center;
    max-width: 80%;
}

::selection{
    background-color: white;
    color: black;
}

@keyframes backgroundChange {
    0% {
        background-color: #181818;
    }
    50% {
        background-color: #555555;  /* tu możesz ustawić kolor "mocno szarawy" */
    }
    100% {
        background-color: #181818;
    }
}
