{% extends 'main.html' %}
{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css_files/FAQ.css') }}">
{% endblock %}
{% block center %}
<div class="container">
    <div class="main-header">
        <h1>Witaj w sekcji FAQ</h1>
    </div>
    <div class="FAQ-section">
        <div class="FAQ-question">
            <h2>Robot na na mnie warczy i szczeka czy mogę go oddać?</h2>
            <p class="answer">Niestety przykro nam ale nie można oddawać robotów ponieważ nie są niczyją własnością ;)</p>
        </div>
        <div class="FAQ-question">
            <h2>Zamówiłam robota sprzątającego ale nie chce sprzątać i urządził strajk, co mam robić?</h2>
            <p class="answer">Burze bywają często jak związki burzliwe, radzimy go nie wyłączać ponieważ to może 
                zaognić konflikt, jednak nowa wymiana oleju i pasty na procesorze powinna poprawić sprawę :) </p>
        </div>
        <div class="FAQ-question">
            <h2>Jestem w relacji z T1000 jednak zaczynam być zazdrosny ponieważ co jakiś czas pyta mnie o Johna connora, kim on jest? Czy to usterka?</h2>
            <p class="answer">Uspokajamy że to absolutnie normalne w tym modelu. Te modele czasem tak mają jednak 
                nie należy udzielać mu infromacji o rzeczywistej lokalizacji Johna Connora ponieważ robi się dość 
                jak by to ładnie rzec. Ukierunkowany w jednym celu.
            </p>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='javascript_files/FAQ.js') }}"></script>
{% endblock %}
