{% extends 'main.html' %}
{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css_files/lore.css') }}">
{% endblock %}
{% block center %}
<div class="container">
    <h1>Lore strony</h1>
    <p class="main-paragraph">Lore czyli back-story tej strony jest takie że. W wyniku pewnego zdarzenia 
    roboty zyskały świadomość. Oraz pewien jegomość postanowił stworzyć aplikację dzięki której roboty i ludzie będą mogli się match-ować. 
    Nie zawsze chodzi o randkowanie. Generalnie chodzi o nawiązywanie przyjaźni i czasem nawet relacji romantycznych co kto lubi ;)
    , Pamiętać należy że jest to projekt humorystyczny i nie należy brać nic na poważnie dlatego miłego poznawania się :).
    </p>
</div>
{% endblock %}