<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css_files/user_homepage.css') }}">
    <title>User-homepage</title>
    
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="matched-users" x-data="{username: true, profile: false, matched: true, userSettings: false, user: '{{user}}'}">
            <div class="matched-users-menu">
                <div class="users-profile"><p style="font-size: 40px;" x-text="user" x-show="username" @click="username = false; profile = true; matched = false; userSettings = true"></p></div>
                <div class="users-profile"><p style="font-size: 40px;" x-text="'Home'" x-show="profile" @click="username = true, profile = false, matched = true, userSettings = false">Home</p></div>
            </div>
            <div class="actually-matched-users" x-data="{ pairsa: true, messages: false }" x-show="matched">
                <div class="actually-matched-users-menu">
                    <div class="pairs" x-text="'Dopasowania'" @click="pairsa = true; messages = false"></div>
                    <div class="messages" x-text="'Wiadomości'" @click="pairsa = false; messages = true"></div>
                </div>
                <div class="main-match-users-menu" x-show="pairsa">
                    <div class="first-matched-user">
                    </div>
                    <div class="first-matched-user">
                    </div>
                    <div class="first-matched-user">
                    </div>
                </div>
                <div class="user-messages" x-show="messages">
                    <div class="message">
                    </div>
                    <div class="message">
                    </div>
                    <div class="message">
                    </div>
                </div>
            </div>
            <div class="user-setting" x-show="userSettings">
                <div class="main-user-settings-name">
                    <h2>Ustawienia konta</h2>
                </div>
                <div class="main-user-settings">
                    <div class="user-setting-option">Dokładne ustawienia konta</div>
                    <div class="user-setting-option">dane profilowe</div>
                    <div class="user-setting-option">do ilu km</div>
                    <div class="user-setting-option" onclick="logout()">wylogowanie się</div>
                </div>
            </div>
        </div>
        
        <div class="show-users">
            <div class="new-user-window"></div>
        </div>
    </div>
    <script src="https://unpkg.com/htmx.org@1.9.0"></script>
    <script>
        function logout(){
            window.location.href = "{{ url_for('logout') }}";
        }
    </script>
</body>
</html>