{% extends 'errors/error_layout.html' %}
{% block content %}
    <h1>Error 403</h1>
    <p style="text-align: center;">To jest error 403 przykro mi ale nie mamy takiej podstrony lub nasze serwery są przeciążone <br>
        Poniżej znajduje się definicja i przycisk do strony głównej</p>

    <p style="text-align: center"> Error 403 - Błąd 403 występuje, gdy strona internetowa, 
        którą próbujesz otworzyć w przeglądarce, jest zasobem, do którego nie masz dostępu. Nazywa się 
        to „błąd 403 forbidden”, ponieważ jest to kod stanu HTTP, którego serwer internetowy używa do 
        opisania tego rodzaju błędu. Błąd 403 forbidden — dostęp zabroniony zwykle pojawia się z kilku 
        powodów. Najpopularniejsze z nich są takie, że albo właściciele serwera poprawnie 
        skonfigurowali uprawnienia dostępu i naprawdę nie masz dostępu do zasobu, albo Ty masz dostęp, 
        ale właściciele nieprawidłowo skonfigurowali uprawnienia i serwer odmawia ci dostępu do zasobów.</p>
{% endblock %}
