{% extends 'errors/error_layout.html' %}
{% block content %}
    <h1>Error 500</h1>
    <p style="text-align: center;">To jest error 500 przykro mi ale nie mamy takiej podstrony lub nasze serwery są przeciążone <br>
        Poniżej znajduje się definicja i przycisk do strony głównej</p>

    <p style="text-align: center"> Error 500 - Błąd 500, Wewnętrzny błąd serwera to błąd 
        na serwerze internetowym, do którego próbujesz uzyskać dostęp. Błąd 500 - wewnętrzny 
        błąd serwera — to bardzo ogólny kod stanu HTTP, który oznacza, że ​​coś poszło nie 
        tak na serwerze strony internetowej, ale serwer nie mógł bardziej szczegółowo określić, 
        na czym dokładnie polega problem.</p>
{% endblock %}

